*.iml
.gradle
Application/KeyNova/local.properties
Application/KeyNova/.idea/caches
Application/KeyNova/.idea/libraries
Application/KeyNova/.idea/modules.xml
Application/KeyNova/.idea/workspace.xml
Application/KeyNova/.idea/navEditor.xml
Application/KeyNova/.idea/assetWizardSettings.xml
.DS_Store
Application/KeyNova/build
Application/KeyNova/captures
.externalNativeBuild
.cxx
local.properties


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

KeyNovaWeb/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


__pycache__/
*.pyc
